:root {
    /* Primary */
    --color-primary-lighter-500: #DCF0DB;
    --color-primary-lighter-400: #BAE2B7;
    --color-primary-lighter-300: #97D393;
    --color-primary-lighter-200: #74C46E;
    --color-primary-lighter-100: #52B64A;
    --color-primary: #2FA726;
    --color-primary-darker-100: #278B20;
    --color-primary-darker-200: #1F6F19;
    --color-primary-darker-300: #185413;
    --color-primary-darker-400: #10380D;
    --color-primary-darker-500: #081C06;

    /* Secondary */
    --color-secondary-lighter-500: #FCDAE3;
    --color-secondary-lighter-400: #F8B4C8;
    --color-secondary-lighter-300: #F58FAC;
    --color-secondary-lighter-200: #F26A90;
    --color-secondary-lighter-100: #EE4475;
    --color-secondary: #EB1F59;
    --color-secondary-darker-100: #C41A4A;
    --color-secondary-darker-200: #9D153B;
    --color-secondary-darker-300: #76102D;
    --color-secondary-darker-400: #4E0A1E;
    --color-secondary-darker-500: #27050F;

    /* Warning */
    --color-warning-lighter-500: #FCF2D9;
    --color-warning-lighter-400: #F9E6B2;
    --color-warning-lighter-300: #F6D98C;
    --color-warning-lighter-200: #F2CC66;
    --color-warning-lighter-100: #EFC03F;
    --color-warning: #ECB319;
    --color-warning-darker-100: #C59515;
    --color-warning-darker-200: #9D7711;
    --color-warning-darker-300: #765A0D;
    --color-warning-darker-400: #4F3C08;
    --color-warning-darker-500: #271E04;

    /* Danger */
    --color-danger-lighter-500: #FADADA;
    --color-danger-lighter-400: #F5B4B4;
    --color-danger-lighter-300: #F18F8F;
    --color-danger-lighter-200: #EC6969;
    --color-danger-lighter-100: #E74444;
    --color-danger: #E21E1E;
    --color-danger-darker-100: #BC1919;
    --color-danger-darker-200: #971414;
    --color-danger-darker-300: #710F0F;
    --color-danger-darker-400: #4B0A0A;
    --color-danger-darker-500: #260505;

    /* Info */
    --color-info-lighter-500: #DAE8FA;
    --color-info-lighter-400: #B6D0F5;
    --color-info-lighter-300: #91B9F0;
    --color-info-lighter-200: #6CA2EA;
    --color-info-lighter-100: #488AE5;
    --color-info: #2373E0;
    --color-info-darker-100: #1D60BB;
    --color-info-darker-200: #174D95;
    --color-info-darker-300: #123A70;
    --color-info-darker-400: #0C264B;
    --color-info-darker-500: #061325;

    /* Neutrals */
    --color-white: #FFFFFF;
    --color-gray: #808080;
    --color-black: #000000;

    /* Neutrals - Clear */
    --color-clear-lighter-500: #F4F4F4;
    --color-clear-lighter-400: #EAEAEA;
    --color-clear-lighter-300: #DFDFDF;
    --color-clear-lighter-200: #D5D5D5;
    --color-clear-lighter-100: #CACACA;
    --color-clear: #BFBFBF;
    --color-clear-darker-100: #B5B5B5;
    --color-clear-darker-200: #AAAAAA;
    --color-clear-darker-300: #9F9F9F;
    --color-clear-darker-400: #959595;
    --color-clear-darker-500: #8A8A8A;

    /* Neutrals - Murky */
    --color-murky-lighter-500: #757575;
    --color-murky-lighter-400: #6A6A6A;
    --color-murky-lighter-300: #606060;
    --color-murky-lighter-200: #555555;
    --color-murky-lighter-100: #4A4A4A;
    --color-murky: #404040;
    --color-murky-darker-100: #353535;
    --color-murky-darker-200: #2B2B2B;
    --color-murky-darker-300: #202020;
    --color-murky-darker-400: #151515;
    --color-murky-darker-500: #0B0B0B;
}

    

    