/* Common */
.chip {
    display: inline-block;
    border-radius: var(--rounded-corners-full);
}

/* Type & Status (Colors) */
.chip-active {
    &.chip-primary {
        background-color: var(--color-primary);
        color: var(--color-primary-lighter-500);
    }

    &.chip-secondary {
        background-color: var(--color-secondary);
        color: var(--color-secondary-lighter-500);
    }

    &.chip-warning {
        background-color: var(--color-warning);
        color: var(--color-warning-lighter-500);
    }

    &.chip-danger {
        background-color: var(--color-danger);
        color: var(--color-danger-lighter-500);
    }

    &.chip-info {
        background-color: var(--color-info);
        color: var(--color-info-lighter-500);
    }

    &.chip-neutral {
        background-color: var(--color-gray);
        color: var(--color-clear-lighter-500);
    }

    &.chip-murky {
        background-color: var(--color-murky);
        color: var(--color-clear-lighter-500);
    }

    &.chip-clear {
        background-color: var(--color-clear);
        color: var(--color-clear-lighter-500);
    }

    &.chip-black {
        background-color: var(--color-black);
        color: var(--color-clear-lighter-500);
    }

    &.chip-white {
        background-color: var(--color-white);
        color: var(--color-murky);
    }
}

.chip-inactive {
    &.chip-primary {
        background-color: var(--color-primary-lighter-500);
        color: var(--color-primary);
    }

    &.chip-secondary {
        background-color: var(--color-secondary-lighter-500);
        color: var(--color-secondary);
    }

    &.chip-warning {
        background-color: var(--color-warning-lighter-500);
        color: var(--color-warning);
    }

    &.chip-danger {
        background-color: var(--color-danger-lighter-500);
        color: var(--color-danger);
    }

    &.chip-info {
        background-color: var(--color-info-lighter-500);
        color: var(--color-info);
    }

    &.chip-neutral {
        background-color: var(--color-clear-lighter-500);
        color: var(--color-gray);
    }

    &.chip-murky {
        background-color: var(--color-clear-lighter-500);
        color: var(--color-murky);
    }

    &.chip-clear {
        background-color: var(--color-clear-lighter-500);
        color: var(--color-clear);
    }

    &.chip-black {
        background-color: var(--color-clear-lighter-500);
        color: var(--color-black);
    }

    &.chip-white {
        background-color: var(--color-clear);
        color: var(--color-white);
    }
}

/* Size */
.chip-small {
    font-size: var(--font-size-extra-small);
    padding: var(--spacing-2hx) var(--spacing-1x);
    line-height: var(--line-height-normal);
}

.chip-medium {
    font-size: var(--font-size-small);
    padding: var(--spacing-2hx) var(--spacing-1x);
    line-height: var(--line-height-extra-large);
}

.chip-large {
    font-size: var(--font-size-large);
    padding: var(--spacing-1hx) var(--spacing-2x);
    line-height: var(--line-height-giant);
}