.botao {

    border-radius: var(--rounded-corners-full);
    font-family: inherit;
    cursor: pointer;
}

.botao-primario {
    background-color: var(--color-primary);
}

.botao-secundario {
    background-color: var(--color-secondary);
}

.botao-padrao {
    border: 0;
    color: var(--color-white);
}

.botao-pequeno {
    padding: var(--spacing-1x) var(--spacing-2x);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-small);
    line-height: var(--line-height-extra-tiny);
}

.botao-grande {
    padding: var(--spacing-2x) var(--spacing-3x);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-tiny);
}